
TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/IMCore.framework/IMCore

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/ImSDK

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/AVMultiInvitProtocols.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/ImSDK.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/IMSdkComm.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/IMSdkInt.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/ImSDKSimple.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/TIMAVMeasureSpeeder.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/TIMCallback.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/TIMCallbackExt.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/TIMCodingModel.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/TIMComm.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/TIMConversation.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/TIMFileManager.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/TIMFriendshipManager.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/TIMFriendshipProxy.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/TIMGroupAssistant.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/TIMGroupManager.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/TIMManager.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/TIMManagerExt.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/TIMMessage.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/TIMRelay.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/TIMVersion.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/IMSDKBugly.framework/Headers/IMSDKBugly.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/IMSDKBugly.framework/IMSDKBugly

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/IMSDKBugly.framework/Resources/Info.plist

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/QALSDK.framework/Headers/QalSDKCallbackProtocol.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/QALSDK.framework/Headers/QalSDKProxy.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/QALSDK.framework/QALSDK

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSAccountHelper.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSErrInfo.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSExchangeTicketListener.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSGuestLoginListener.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSGuestRegListener.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSHelper.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSLoginHelper.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSOpenAccessTokenListener.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSOpenBindListener.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSOpenLoginListener.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSOpenQueryListener.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSPwdLoginListener.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSPwdRegListener.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSPwdResetListener.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSRefreshTicketListener.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSSmsLoginListener.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSSmsRegListener.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSStrAccountRegListener.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSTokenInfo.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSUserInfo.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/version.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/TLSSDK

TCShow/TCAdapter/TCAVIMAdapter/Libs/AVFoundationEx.FrameWork/AVFoundationEx

TCShow/TCAdapter/TCAVIMAdapter/Libs/AVFoundationEx.FrameWork/Headers/AudioHelper.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/AVFoundationEx.FrameWork/Headers/AudioRecordAndPlayer.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/AVFoundationEx.FrameWork/Headers/AVFoundationEX.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/AVFoundationEx.FrameWork/Headers/AVPublicNotification.h

TCShow/TCShowWorkSpace.xcworkspace/xcuserdata/alexichen.xcuserdatad/UserInterfaceState.xcuserstate

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/QAVSDK

TCShow/TCAdapter/TCAVIMAdapter/Libs/AVFoundationEx.FrameWork/Headers/VideoCapture.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/_CodeSignature/CodeDirectory

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/_CodeSignature/CodeRequirements

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/_CodeSignature/CodeResources

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/_CodeSignature/CodeSignature

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/Headers/QAVAudioCtrl.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/Headers/QAVCommon.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/Headers/QAVContext.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/Headers/QAVEndpoint.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/Headers/QAVError.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/Headers/QAVMultiRoom.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/Headers/QAVRoom.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/Headers/QAVSDK.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/Headers/QAVVideoCtrl.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/Info.plist

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/Modules/module.modulemap

TCShow/TCShowWorkSpace.xcworkspace/xcuserdata/alexichen.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

TCShow/TCShowWorkSpace.xcworkspace/xcuserdata/alexichen.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

TCShow/TIMChat/TCAdapter/TCAVIMAdapter/Libs/AVFoundationEx.FrameWork/Headers/AudioHelper.h

TCShow/TIMChat/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/_CodeSignature/CodeDirectory

TCShow/TIMChat/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/_CodeSignature/CodeRequirements

TCShow/TIMChat/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/_CodeSignature/CodeResources

TCShow/TIMChat/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/_CodeSignature/CodeSignature

TCShow/TIMChat/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/Modules/module.modulemap

TCShow/TIMChat/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/TLSSDK

TCShow/TIMChat/TCAdapter/TIMAdapter/Framework/IMSDK/readme

TCShow/TIMChat/TCAdapter/TIMAdapter/Framework/IMSDK/QALSDK.framework/QALSDK

TCShow/TIMChat/TCAdapter/TIMAdapter/Framework/IMSDK/IMSDKBugly.framework/Resources/Info.plist

TCShow/TIMChat/TCAdapter/TIMAdapter/Framework/IMSDK/IMSDKBugly.framework/IMSDKBugly

TCShow/TIMChat/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/ImSDK

TCShow/TIMChat/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/Info.plist

TCShow/TIMChat/TCAdapter/TIMAdapter/Framework/IMSDK/IMCore.framework/IMCore

TCShow/TIMChat/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/QAVSDK

TCShow/TIMChat/TCAdapter/TCAVIMAdapter/Libs/readme

TCShow/TIMChat/TCAdapter/TCAVIMAdapter/Libs/AVFoundationEx.FrameWork/AVFoundationEx

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/Headers/QAVAppChannel.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/Headers/QAVSpearEnginCtrl.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/Info.plist

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/biasyncall.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/biasyncalldefine.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/bibuffer.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/bibundler.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/biclss.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/biclssext.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/bicmdcodec.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/bicmdcodecbase.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/bicsprotocoldef.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/bicsseqmgr.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/biichannel.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/bimess.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/biprotocodecbase.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/bitcpchannel.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xpset.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/bipack.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/biudpchannel.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/httpchunker.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/httpclient.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/httpdatareader.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/httpdatawriter.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/httpinfoparser.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/httpspeedcalc.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/log.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/logutils.hpp

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/main_thread_help.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/strptime.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/threadmodel.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/ucnv_adp.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/UtilHelp.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xpallocator.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xpasyncall.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xpatomic.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xpbarray.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xpcharset.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xpcrc32.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xpcrypt.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xpepump.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xpevent.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xpexcept.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xpfile.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xpihttpclient.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xpihttpserver.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xplist.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xplock.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xplog.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xpmap.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xpmd5.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xpmess.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xpmm.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xpnet.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xpolist.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xpproc.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xprefc.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xprefsink.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xpsec.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xpsocket.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xpstd.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xpstl_algo.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/xplatform

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xpstl_ctraits_fns.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xpstream.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xpstreamreader.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xpstring.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xpsys.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xptask.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xptea.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xpthread.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xptimer.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xptypes.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xpudpchanneli.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xpudptransfer.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xputil.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/PrivateHeaders/xpvector.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/_CodeSignature/CodeRequirements-1

TCShow/TCAdapter/TCAVIMAdapter/AVSDK/.DS_Store

TCShow/TCAdapter/TCAVIMAdapter/Libs/.DS_Store

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/.DS_Store

TCShow/TCAdapter/TCAVIMAdapter/Libs/xplatform.framework/.DS_Store
